body {
  background-color: #282c34;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: white;
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  display: flex;
  heigth: 15vh;
  justify-content: space-around;
}
