table, th, td {
  border: 1px solid black;
  margin-top: 100px;
}

table {
  margin-left: 15px;
  overflow: auto;
  width: 60%;
  border-collapse: collapse;
}

th, td {
  text-align: middle;
  padding: 5px;
}

.table-container {
  overflow-y: auto;
}