table, th, td {
  border: 1px black;
  margin-top: 100px;
  width: 60%;
}

table {
  overflow: auto;
  width: 60%;
}

td {
  height: fit-content;
  overflow: auto;
  position: relative;
  vertical-align: middle;
}

th {
  height: fit-content;
  overflow: auto;
}