.App {
  background: linear-gradient(to right, rgb(204, 217, 224), rgb(182, 187, 211));
  color: black;
  text-align: center;
  width: fit-content;
}

.App-header {
  background-color: #122755;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.filter_container {
  align-items: center;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 20px;
}

table, th, td {
  border: 1px solid black;
}
