.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

span {
  display: inline-block;
}

input,
select {
  padding: 5px;
  font-size: 0.875em;
  border: 1px solid black;
}
table {
  border-collapse: collapse;
}

table thead {
  background-color: black;
  color: white;
  font-weight: 900;
}

table th {
  border: 1px solid black;
  padding: 10px;
  overflow: hidden;
  width: 0 auto;
}

tbody tr:nth-child(even) {
  background: #ccc;
}

tbody tr:nth-child(even):hover {
  background: rgb(223, 222, 222);
}

tbody tr:nth-child(odd) {
  background: #eee;
}

tbody tr:nth-child(odd):hover {
  background: rgb(235, 226, 226);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
