body {
  background-image: url(https://wallpaperplay.com/walls/full/1/6/3/124137.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2rem;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 550;
  margin: 30px;
}